@import '../variables.module';

.accordionItem {
  margin-top: .0357em;
  overflow: hidden;

  .accordionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: .0142em .0357em;

    .text {
      font-size: .017em;
      color: $ALMOST_WHITE_FONT_COLOR;
      text-transform: uppercase;
    }

    .arrow {
      position: relative;
      width: 3.8em;
      height: 3.8em;
      background: transparent;
      border: none;

      &:before, &:after {
        content: '';
        position: absolute;
        top: 48%;
        height: 3px;
        width: 14px;
        background-color: $BUTTON_TO_TOP_COLOR;
        border-radius: 3px;
        transition: all .3s ease-in-out;
      }

      &:before {
        transform: rotate(45deg);
        right: 45%;
      }

      &:after {
        transform: rotate(-45deg);
        left: 45%;
      }
    }
  }

  .accordionContent {
    padding: 0 .3em;
    font-size: .0142em;
    visibility: hidden;
    height: 0;
    color: transparent;
    transition: all .3s ease-out;
  }

  .learnMore {
    color: $ACCENT_ORANGE_COLOR;
    text-transform: capitalize;
    font-weight: 600;
    font-size: .0157em;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    transition: all 1.3s ease-in-out;

    &:hover {
      text-decoration: underline $ACCENT_ORANGE_COLOR;
    }
  }
}

.accordionItemHome {
  .accordionTitle {
    background: $ACCORDION_BACKGROUND_COLOR;
    border-radius: .01em;
  }

  .accordionContent {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.accordionItemActive {
  .accordionTitle {
    .arrow {
      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }

  .accordionContent {
    padding: 1.25em .3em 0;
    visibility: unset;
    height: unset;
    color: $ALMOST_WHITE_FONT_COLOR;
  }
}

@media (max-width: 1024px) {
  .accordionItem .accordionTitle {
    padding: .0195em .04882em;
  }
  .accordionItemHome .accordionTitle {
    border-radius: .014648em;
  }
  .accordionItem .accordionTitle .text {
    font-size: .0234em;
  }
  .accordionItem .accordionContent {
    font-size: .0195em;
  }
  .accordionItem .learnMore {
    font-size: .02148em;
  }
}

@media (max-width: 450px) {
  .accordionItem .accordionTitle {
    border-radius: .02222em;
  }
  .accordionItem .accordionTitle .text {
    font-size: .017777em;
    font-weight: 600;
  }
  .accordionItemActive .accordionTitle .text{
    color: $ACCENT_ORANGE_COLOR;
  }
  .accordionItem .accordionTitle {
    padding: .0333em .0444em;
  }
  .accordionItem .accordionTitle .arrow {
    width: 2em;
    height: 1em;

    &:before, &:after {
      height: 2px;
      width: 9px;
    }
  }
  .accordionItem .accordionContent,
  .accordionItem .learnMore {
    font-size: .02222em;
  }
  .accordionItem {
    .accordionTitle {
      background: $ACCORDION_BACKGROUND_COLOR;
    }
  }
}