@import '../variables.module';

.contactsWrapper {
  padding-top: .0428em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .contactRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all .3s ease-in-out;

    .text {
      font-size: .0128em;
      padding-left: .5em;
      color: $ALMOST_WHITE_FONT_COLOR;

    }

    &:hover, &:focus {
      transform: scale(1.05);

      .text {
        text-decoration: $ALMOST_WHITE_FONT_COLOR underline;
      }
    }
  }

  .contactRow + .contactRow {
    margin-top: .0178em;
  }
}

@media (max-width: 1024px) {
  .contactsWrapper .contactRow .text {
    font-size: .017578em;
  }
}

@media (max-width: 450px) {
  .contactsWrapper .contactRow .text {
    font-size: .02666em;
  }
}