@import '../variables.module';

.projectModalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .imageWrapper {
    width: .05em;
    height: .05em;
    border-radius: 50%;
    overflow: hidden;
  }

  .projectTitle,
  .projectDescription,
  .projectPriceTitle,
  .projectFee {
    color: $PRIMARY_BACKGROUND_COLOR;
  }

  .projectTitle, .projectPrice {
    font-weight: 700;
  }

  .projectTitle,
  .projectPriceTitle {
    text-transform: uppercase;
  }

  .projectTitle,
  .projectPriceTitle,
  .addressText {
    font-size: .00857em;
  }

  .projectDescription, .projectFee {
    font-size: .00714em;
  }


  .projectTitle {
    padding: .83em 0 1.66em;
  }

  .projectPriceTitle {
    font-weight: 500;
    padding: .833em 0;
  }

  .projectPrice {
    font-size: .0157em;
    color: $ACCENT_ORANGE_COLOR;
  }

  .projectFee {
    padding: 2em 0;
  }

  .addressWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    margin-bottom: .01928em;

    .addressText,
    .addressBtn {
      color: $ALMOST_WHITE_FONT_COLOR;
    }

    .addressText {
      width: 100%;
      max-width: 29.166em;
      background-color: $PRIMARY_BACKGROUND_COLOR;
      padding: .5em 2em;
      border-radius: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .addressBtn {
      font-size: .01428em;
      line-height: 1;
      background: $LIGHT_BACKGROUND_GRADIENT;
      border-radius: 5px;
      border: none;
      padding: .25em .3em;
    }
  }

  .stakeButton {
    border-radius: 11px;
    font-size: .008571em;
    padding: .5em 1.5em;
  }
}