@import '../variables.module';

.projectCard {
  width: .178em;
  height: .25em;

  background-color: $LIGHT_BACKGROUND_COLOR;
  border-radius: .021428em;
  padding: .035em .025em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .projectTitle, .apyText, .apyNumber {
    color: $ALMOST_WHITE_FONT_COLOR;
  }

  .projectHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: relative;

    .projectImgWrapper {
      width: .03928em;
      height: .03928em;

      .projectImg {
        border-radius: 50%;
      }
    }

    .projectTitle {
      font-weight: 700;
      text-transform: uppercase;
      font-size: .0128em;
      background-color: rgba(#a5aac5, .65);
      border-radius: 1.333em;

      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      width: 9.7em;
      height: 3.1em;
      left: 25%;
      z-index: -1;
    }
  }

  .apyWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    .apyText {
      font-size: .0085em;
    }

    .apyNumber {
      font-size: .017em;
      font-weight: 600;
      margin-top: 1.14em;
    }
  }

  .stakeButton {
    font-size: .01em;
    height: 2.5em;
    width: 7.92em;
  }
}

@media (max-width: 1024px) {
  .projectCard {
    width: .24414em;
    height: .31738em;
  }
  .projectCard .projectHeader .projectImgWrapper {
    width: .0546875em;
    height: .0546875em;
  }
  .projectCard .projectHeader .projectTitle {
    font-size: .017578em;
  }
  .projectCard .apyWrapper .apyText {
    font-size: .011718em;
  }
  .projectCard .apyWrapper .apyNumber {
    font-size: .023437em;
  }
  .projectCard .stakeButton {
    font-size: .013671875em;
  }
}

@media (max-width: 450px) {
  .projectCard {
    width: 120px;
    height: 160px;
  }
  .projectCard .projectHeader .projectImgWrapper {
    width: .08888em;
    height: .08888em;
  }
  .projectCard .projectHeader .projectTitle {
    font-size: .02em;
  }
  .projectCard .apyWrapper .apyText {
    font-size: .01777em;
  }
  .projectCard .apyWrapper .apyNumber {
    font-size: .02666em;
  }
  .projectCard .stakeButton {
    font-size: .01777em;
  }
}