@import '../variables.module';

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 80%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.circleToTop {
  position: fixed;
  z-index: 11;
  right: 7em;
  bottom: 4em;
  border-radius: 50%;
  border: 2px solid $BUTTON_TO_TOP_COLOR;
  width: 3.8em;
  height: 3.8em;
  background: transparent;
  animation: fadeInUp 2.7s ease-in-out infinite;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 48%;
    height: 3px;
    width: 14px;
    background-color: $BUTTON_TO_TOP_COLOR;
    border-radius: 3px;
  }

  &:before {
    transform: rotate(-45deg);
    right: 45%;
  }

  &:after {
    transform: rotate(45deg);
    left: 45%;
  }
}

@media (max-width: 450px) {
  .circleToTop {
    right: 2.4em;
    bottom: 3em;
    border: 1px solid $BUTTON_TO_TOP_COLOR;
    width: 2.2em;
    height: 2.2em;

    &:before, &:after {
      height: 1px;
      width: 9px;
    }
  }
}