@import '../variables.module';

.pageWrapper {
  .description {
    text-transform: uppercase;
    color: $ALMOST_WHITE_FONT_COLOR;
    font-size: .0128em;
    max-width: 75vw;
    margin: 0 auto;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: -2.5em;
      right: -1em;
      width: 23.5em;
      height: 8.3em;

      background-color: rgba(246, 248, 253, 0.1);
      border-radius: 1.5em;
    }
  }

  .section {
    padding: .035em 0;
  }

  .homeSection {
    padding-bottom: .07em;
  }

  .projectSection {
    .projectCardWrapper {
      max-width: 100%;
      width: 100%;
      padding-top: .05em;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(.1778em, 1fr));
      place-items: center;
      gap: .035em;
    }
  }

  .calculatorSection {
    .stakeButton {
      font-size: .0185em;
      width: 9.6em;
      height: 2.3em;
      border-radius: 1.1538em;

      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2.69em auto 0;
    }
  }

  .issSection {
    .accordionWrapper {
      padding: 0 .065em;
    }
  }
}

@media (max-width: 1024px) {
  .pageWrapper .description {
    font-size: .017578em;
    max-width: 70vw;
    margin: 0 0 0 auto;
  }
  .pageWrapper .description:before {
    right: auto;
    bottom: 50%;
    transform: translateY(50%);
    left: -5%;
    height: 10em;
    border-radius: 1.5em;
  }
  .pageWrapper .projectSection .projectCardWrapper {
    gap: .068359em;
  }
}

@media (max-width: 450px) {
  .pageWrapper .description {
    font-size: 8px;
    max-width: 80vw;
  }
  .pageWrapper .projectSection .projectCardWrapper {
    row-gap: .0555em;
    column-gap: .133em;
  }
  .pageWrapper .calculatorSection .stakeButton {
    font-size: .02222em;
  }
  .pageWrapper .issSection .accordionWrapper {
    padding: 0;
  }
}
