$PRIMARY_BACKGROUND_COLOR: #081961;
$SECONDARY_BACKGROUND_GRADIENT_COLOR: #100236;
$ALTERNATIVE_BACKGROUND_COLOR: #0E1946;
$LIGHT_BACKGROUND_COLOR: rgba(246, 248, 253, 0.3);
$GREY_BACKGROUND_COLOR: rgba(246, 248, 253, 0.5);
$BUTTON_TO_TOP_COLOR: rgba(226, 112, 46, .8);
$ACCORDION_BACKGROUND_COLOR: #505D91;

$ACCENT_ORANGE_COLOR: #EF8446;
$ACCENT_PINK_COLOR: #C8329F;

$LIGHT_BACKGROUND_GRADIENT: linear-gradient(90deg, #E2702E 30.94%, $ACCENT_PINK_COLOR 117.95%);
$DARK_BACKGROUND_GRADIENT: linear-gradient(90deg, #CF4185 13.83%, #1A4C92 93.9%);
$CONTACT_LIGHT_BACKGROUND_GRADIENT: linear-gradient(90deg, $ACCENT_PINK_COLOR 13.83%, #E2702E 93.9%);

$FOOTER_FONT_COLOR: rgba(246, 248, 253, 0.6);
$ALMOST_WHITE_FONT_COLOR: #F6F8FD;
$WHITE_FONT_COLOR: #FFFFFF;

$FONT_FAMILY_JOST: 'Jost', sans-serif;

:export {
  accentOrangeColor: $ACCENT_ORANGE_COLOR;
}
